@import "tailwindcss";

@font-face {
  font-family: "general";
  src: url("/fonts/general.woff2") format("woff2");
}
@font-face {
  font-family: "inter";
  src: url("/fonts/inter.ttf") format("truetype");
}

@font-face {
  font-family: "robert-medium";
  src: url("/fonts/robert-medium.woff2") format("woff2");
}

@font-face {
  font-family: "robert-regular";
  src: url("/fonts/robert-regular.woff2") format("woff2");
}
@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal-Light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal-Regular.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal-Medium.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal-Bold.otf") format("opentype");
  font-weight: 800;
}

@theme {
  --color-p: #000000;
  --color-s: #ffffff;

  --color-brd: #ededed;

  --font-neue: "Neue Montreal", sans-serif;
  --font-general: "General", sans-serif;
  --font-inter: "Inter", sans-serif;

  --breakpoint-full-ds: 1900px;
  --breakpoint-ds: 1262px;
  --breakpoint-lg: 992px;
  --breakpoint-md: 768px;
  --breakpoint-sm: 450px;
  --breakpoint-xsm: 380px;
}

html {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-smooth: never !important;
  letter-spacing: 0;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100dvw;

  font-family: "Neue Montreal", sans-serif;
}
body.loading {
  overflow: hidden;
  cursor: wait;
}

::-webkit-scrollbar {
  display: none;
}

.noise::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  opacity: 0.03;
  z-index: 1000;
  pointer-events: none;
  background: url("../../public/noise.gif");
}
